.birthdayCard {
    margin: auto;
    border-radius: 15px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 30%;
    background-color: snow;
    box-shadow: 0 4px 8px 0 rgba(255, 54, 54, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
}