.create-form {
  /* margin-bottom: 250px; */
}

  .calendarButton {
    background-color: aqua;
    height: 50px;
    width: 70px;
    font-weight: 500;
    border-radius: 5px;
    
  }

  .calendarButton:hover {
    color: purple;
  }

  .formHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .submitButton {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .submitButton:hover {
    transform: scale(1.1);
  }

  .frostPic {
    position: absolute;
    margin-top: 375px;
    margin-left: 275px;
    width: 250px;
    height: 250px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

  .mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-error {
    font-size: 12px;
    position: absolute;
    margin-bottom: 100px;
  }
