
<h3 class="mainHeader">
  Frosty Package
</h3>
<mat-card-header>  
  <div>
    <img class="frostPic" src="../../../assets/HappyBirthdayFrosty.jpg" alt="">
  </div>
</mat-card-header>

<form class="create-form" [formGroup]="frostyForm" novalidate (ngSubmit)="onSubmit(frostyForm.value)">

  <div class="formHolder">
    <mat-form-field appearance="outline">
      <mat-label>First and Last Name</mat-label>
      <input matInput placeholder="John Doe" class="form-control" formControlName="name">
    </mat-form-field>

    <ng-container *ngFor="let validation of validation_messages.name">
      <mat-error *ngIf="!frostyForm.get('name').valid && (frostyForm.get('name').dirty || frostyForm.get('name').touched)">{{validation.message}}</mat-error>
    </ng-container>

  </div>
  <br>
  <div class="formHolder">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="johndoe@gmail.com" class="form-control" formControlName="email">
    </mat-form-field>

    <ng-container *ngFor="let validation of validation_messages.email">
      <mat-error *ngIf="!frostyForm.get('email').valid && (frostyForm.get('email').dirty || frostyForm.get('email').touched)">{{validation.message}}</mat-error>
    </ng-container>

  </div>
  <br>
  <div class="formHolder">
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="696-696-6969" class="form-control" formControlName="phone">
    </mat-form-field>

    <ng-container *ngFor="let validation of validation_messages.phone">
      <mat-error *ngIf="!frostyForm.get('phone').valid && (frostyForm.get('phone').dirty || frostyForm.get('phone').touched)">{{validation.message}}</mat-error>
    </ng-container>

  </div>
  <br>
  <div class="formHolder">
    <mat-form-field appearance="fill">
      <mat-label>Choose Your Birthday</mat-label>
      <input matInput [matDatepicker]="picker" class="form-control" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <ng-container *ngFor="let validation of validation_messages.date">
      <mat-error *ngIf="!frostyForm.get('date').valid && (frostyForm.get('date').dirty || frostyForm.get('date').touched)">{{validation.message}}</mat-error>
    </ng-container>

</div>
<br>
<div class="submitButton">
  <button id="btnSubmit" 
          type="submit" 
          mat-stroked-button color="primary"
          [disabled]="!frostyForm.valid"
  
  >Subscribe</button>
</div>
<br>
<div class="submitButton">
  <!-- <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Unsubscribe</button> -->
</div>

</form>