<mat-card-header>
  <h3>
    Happy Birthday Frosty
  </h3>
</mat-card-header>

<form class="create-form" [formGroup]="frostyForm" (ngSubmit)="onSubmit(frostyForm.value)">

  <div class="formHolder">
    <mat-form-field appearance="outline">
      <mat-label>First and Last Name</mat-label>
      <input matInput placeholder="John Doe" class="form-control" formControlName="name">
    </mat-form-field>

    <ng-container *ngFor="let validation of validation_messages.name">
      <mat-error *ngIf="frostyForm.get('name').hasError(validation.type) && (frostyForm.get('name').dirty || frostyForm.get('name').touched)">{{validation.message}}</mat-error>
    </ng-container>

  </div>

  <div class="formHolder">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="johndoe@gmail.com" class="form-control" formControlName="email">
    </mat-form-field>
  </div>

  <div class="formHolder">
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="696-696-6969" class="form-control" formControlName="phone">
    </mat-form-field>
  </div>

  <div class="formHolder">
    <mat-form-field appearance="fill">
      <mat-label>Choose Your Birthday</mat-label>
      <input matInput [matDatepicker]="picker" class="form-control" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div class="submitButton">
  <button id="btnSubmit" type="submit" mat-stroked-button color="primary">Submit</button>
</div>
</form>