<mat-card-header>
  <h3>
    Happy Birthday Frosty
  </h3>
</mat-card-header>
<div class="formHolder">
  <mat-form-field appearance="outline">
    <mat-label>First and Last Name</mat-label>
    <input matInput placeholder="John Doe">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="johndoe@gmail.com">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Choose Your Birthday</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<button mat-stroked-button color="primary">Submit</button>
